
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    color: #222;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}

input, textarea {
    border: 1px solid #bebebe;
    font-family: Arial,Helvetica,sans-serif;
}
